.jumbotron {
    background-image: url('https://media.istockphoto.com/id/1134470382/it/foto/batti-le-mani-del-fornaio-con-farina-in-cucina.jpg?s=612x612&w=0&k=20&c=4DqItklXOFJ01uF5-959ZBUiYPZaXHc9Hm917QbdqQQ=');
    aspect-ratio: 16/9;
    background-size: cover;
}